.promo-top {
    position: absolute;
    top: -15px;
    right: 30px;
    font-family: Tapes Thin;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.mobile-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: -100%;
    transition: left 0.5s ease;
    background-color: #fff;
    height: 100vh;
}

.slide-right {
    left: 0;
}

/* Linear gradient background 
    style="background-image: linear-gradient(to right, #44FF9A, #44B0FF 23.4375%, #8B44FF 48.9583%, #FF6644 73.9583%, #EBFF70);"
style="background-image: linear-gradient(to right, #44FF9A, #44B0FF 23.4375%, #8B44FF 48.9583%, #FF6644 73.9583%, #EBFF70);"
style="background-image: linear-gradient(to right, #44FF9A, #44B0FF 23.4375%, #8B44FF 48.9583%, #FF6644 73.9583%, #EBFF70);"
*/

.headline-text {
    font-family: Plus Jakarta Sans;
    font-size: 58px;
    font-weight: 800;
    line-height: 69.6px;
    text-align: center;
    color: #18181B;
}

.card-img {
    position: relative;
    width: 100%;
    height: fit-content;
}

.card-img::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #44FF9A, #44B0FF 23.4375%, #8B44FF 48.9583%, #FF6644 73.9583%, #EBFF70);
    z-index: -1;
    filter: blur(10px);
}

.gradient-border {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: -9;
    /* border: 5px solid transparent;
    border-radius: 16px;
    border-image: linear-gradient(to bottom, blue, purple) 1 round;
    box-sizing: border-box;  */
  }

.gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #ab96f8, #ff99d0);
    margin: -10px;
    z-index: -1000;
    border-radius: 16px;
}

.main-section-text {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    color: #18181B;

}

.main-banner-text {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
}

.mini-banner p {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: #858587;
}

.mini-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.mini-banner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 94%;
    height: 55%;
    margin-bottom: 10px; /* Half of the height to center vertically */
    margin-left: 12px;
    background: linear-gradient(to right, rgba(235, 255, 112, 0.3), rgba(255, 102, 68, 0.3) 23.4375%, rgba(139, 68, 255, 0.3) 48.9583%, rgba(68, 176, 255, 0.3) 73.9583%, rgba(68, 255, 154, 0.3));
}

.mini-banner p .span-text {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0;
}






